* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body {
    background: #f0f0f0;
    font: 14px/20px Arial, San-Serif;
    color: #555;
    margin: 0px;
}

h1 {
    text-align: center;
    font-size: 180%;
    line-height: 120%;
    padding: 5% 0px;
}

h2 {
    text-decoration: underline;
    padding-left: 2%;
}

h3 {
    line-height: 110%;
    padding: 5% 0px;
}

p {
    padding: 1%;
}

img {
    text-align: center;
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

    a:hover {
        color: #FFF;
        text-decoration: underline;
    }

.navbar {
    background: #333333;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    opacity: 0.98;
}

.navbarstart {
    background: #333333;
    width: 100%;
    height: 70px;
    top: 0px;
    left: 0px;
}

#logo {
    margin: 10px;
    float: left;
    width: 310px;
    height: 50px;
    background-image: url('../icons/terminusforgelarge.png');
}

    #logo:hover {
        border-bottom: 2px solid #FFF;
    }

nav {
    float: right;
    padding: 30px 5px 15px 0px;
}

#menu-icon {
    display: hidden;
    width: 40px;
    height: 40px;
    background-image: url('../icons/menu.png');
}

a:hover#menu-icon {
    border-radius: 4px 4px 0 0;
}

ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    color: #f0f0f0;
    float: left;
    padding: 10px;
    /*border-bottom: 2px solid #f0f0f0;*/
}

.current {
    color: #FFF;
    border-top: 0px;
    /*border-bottom: 2px solid #f0f0f0;*/
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}

.currentlink:hover {
    text-decoration: none;
}

.navlink:hover {
    color: #FFF;
    box-shadow: inset 0px -2px #FFF;
    border-bottom: 0px solid #FFF;
}

#doc {
    background: #555;
    width: 100%;
    border-bottom: 10px solid #333333;
}

#content {
    margin: 0px auto;
    max-width: 1140px;
}

.blueberry {
    max-width: 960px;
    margin-top: 110px;
}

.main-content {
    margin: 10px auto;
    width: 75%;
    line-height: 25px;
    overflow: hidden;
}

.front-page-article-header {
    width: 50%;
    height: 50px;
    float: left;
    margin-bottom: 10px;
    background: #333333;
    color: #f0f0f0;
    border-left: 30px solid #555;
}

    .front-page-article-header h1 {
        line-height: 10px;
        padding: 22px;
    }

.article-content {
    width: 70%;
    float: left;
}

.article-widget {
    background-color: #FFF;
    border-left: 30px solid #555;
    margin-bottom: 10px;
    padding: 3% 15px;
    color: #333333;
}

    .article-widget a {
        color: #000;
        line-height: normal;
    }


.top-content {
}

.bottom-content {
}

.sidebar {
    margin: 60px 0px 10px 0px;
}

.sidebar-widget {
    width: 15%;
    float: left;
    margin: 0% 0% 2% 3%;
    border-top: 2px solid #333333;
    border-right: 30px solid #333333;
    background-color: #555;
    padding: 2% 3%;
    border-bottom: 2px solid #333333;
    color: #f0f0f0;
}

.post-info {
    font-style: italic;
    color: #999;
    font-size: 85%;
    line-height: normal;
}

.topic-section {
    margin: 0% 5% 0% 5%;
    border-top: 2px solid #333333;
}

.topic-programming {
    width: 29%;
    float: left;
    margin: 2% 2%;
    text-align: center;
}

.topic-other {
    width: 29%;
    float: left;
    margin: 2% 35%;
    text-align: center;
}

.topicicon {
    height: 100px;
}

.clear {
    clear: both;
}

.main-footer {
    background: #333333;
    width: 100%;
    overflow: hidden;
    opacity: 0.90;
}

    .main-footer p, .main-footer h3 {
        color: #FFF;
    }

        .main-footer p a {
            color: #FFF;
            text-decoration: none;
        }

.section-main-footer {
    width: 29%;
    float: left;
    margin: 2% 2%;
    text-align: center;
}

ul.social li {
    display: inline;
}

    ul.social li img {
        height: 50px;
    }

.sociallink:hover {
    border-bottom: 2px solid #FFF;
}

.copyright-footer {
    border-top: 1px solid #404E50;
    background-color: #333333;
    max-height: 50px;
    text-align: center;
    opacity: 0.95;
}
/*----------------------------Media!!!-----------------*/
@media screen and (max-width: 478px) {
    body {
        position: absolute;
    }
}

@media screen and (max-width: 740px) {
    header {
        position: absolute;
    }

    #menu-icon {
        display: inline-block;
    }

    nav ul, nav:active ul {
        display: none;
        position: absolute;
        padding: 20px;
        background: #333333;
        right: 0px;
        top: 70px;
        width: 25%;
        border-radius: 2px 0px 2px 2px;
    }

    nav li {
        text-align: right;
        width: 100%;
        padding: 10px 0px;
        margin: 0px;
    }

    nav:hover ul {
        display: block;
    }

    .main-content {
        width: 100%;
    }

    .front-page-article-header {
        width: 90%;
        float: left;
        margin: 20px auto 10px 2%;
    }

        .front-page-article-header h1 {
            text-align: center;
        }

    .article-content {
        width: 90%;
        float: left;
        margin-left: 2%;
    }



    .article-widget {
    }

        .article-widget a {
            color: #000;
            line-height: normal;
        }


    .top-content {
    }

    .bottom-content {
    }

    .sidebar {

    }

    .sidebar-widget {

    }

    .post-info {

    }

    .topic-programming, .topic-other {

    }
}
